$main-color: #2b7a78;
$main-color-light: #3aafa9;
$main-color-dark: #17252a;

$text-color-dark: #17252a;
$text-color-light: #feffff;

$white: #fff;
$black: #000;
@mixin transform-mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    padding: 25px;
}
// navigation ----------------------------------------------------------------------------------------------------------------
.navigation {
    &-checkbox {
        display: none;
    }
    &-button {
        background-color: $white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 17;
        box-shadow: 0 1rem 3rem rgba($black, .1);
        text-align: center;
        cursor: pointer;

       
    }
    &-background { 
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6rem;
        background-image: radial-gradient($main-color-light, $main-color);
        z-index: 15;
        transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);

        // transform: scale(80); 
    }
    &-nav {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 16;
        opacity: 0;
        width: 0;
        transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        margin-left: -100%;
    }
    &-list {
        @include transform-mid();
        list-style: none;
        text-align: center;
        width: 100%;
    }
    &-item {
        margin: 1rem;
    }

    &-link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            color: $white;
            padding: 1rem 2rem;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 60%, $white 50%);
            background-size: 300%;
            transition: all .3s;
        }

        &:active,
        &:hover  {
            background-position: 100%;
            color: $main-color;
            transform: translateX(1rem);
        }
    }
    &-checkbox:checked ~ &-background {
        transform: scale(80);
    }
    &-checkbox:checked ~ &-nav {
        opacity: 1;
        width: 100%;
        margin-left: 0;
    }

    &-icon{
        position: relative;
        margin-top: 3.5rem;
        transition: all .2s;
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 3px;
            background-color: $main-color-dark;
            display: inline-block;
        }
        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {top: -.8rem;}
        &::after {top: .8rem;}
        
    }
    &-button:hover &-icon::before {
        top: -1rem;
    }
    &-button:hover &-icon::after {
        top: 1rem; 
    }
    &-checkbox:checked +  &-button &-icon::before {
        transform: rotate(135deg);
        top: 0;
    }
    &-checkbox:checked +  &-button &-icon::after {
        transform: rotate(-135deg);
        top: 0;
    }

    &-checkbox:checked + &-button &-icon {
        background-color: transparent;
    }
    
}
// header --------------------------------------------------------------------------------------------------------------------
.header {
    background: linear-gradient(to left bottom, rgba($main-color-light, .6), rgba($main-color, .6)), url(../images/bg3.jpg);
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 top;
    background-attachment: fixed;
    // clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0% 100%);
    position: relative;


    .logo-box {
        position: absolute;
        top: 40px;
        left: 40px;
    }
    .logo{
        height: 80px;

    }
    .head-content-container {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

    }
    .head-content-text {
        color: $text-color-light;
        text-transform: uppercase;
        backface-visibility: hidden; //fix for animation going up
        margin-bottom: 60px;
    }
    .head-content-main {
        display: block;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 35px;
        animation: moveInLeft 1s ease-out;
        margin-bottom: 2rem;
    }
    .head-content-sub {
        display: block;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 17.4px;
        animation: moveInRight 1s ease-out;
    }
        
}

.about {
    height: 100vh;
    background-color: #eee;
    // margin-top: -20vh;
    overflow: hidden;
    // padding: 30px;
    .mid-me {
        // background-color: green;
        margin-top: 3%;
        text-align: center;
        padding: 30px;
    }
    &-title {
        text-transform: uppercase;
        color: $text-color-dark;
        letter-spacing: 2rem;
    }
    .profile-pic {
        // border: 1px solid black;
        width: 15rem;
        height: 15rem;
        margin: 3rem auto;
        border-radius: 50%;
        background-image: url(../images/profile.jpg);
        background-size: cover;
        box-shadow: 0 15px 20px rgba($black, .3);
    }

    .education {border:1px solid black;}
    .skillset {border:1px solid black;}
}



// keyframes-------------------------------------------
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}